h1 {
    text-align: center;
    color: maroon;
    top: 10%;
}
h2 {
    text-align: center;
}
body {
    background-color: gray;
}
.nav-bar {
    position: sticky;
    width: 99%;
    background-color: rgb(55,44,22,.4);
    top: 0;
}
.Drinks {
    position: sticky;
    left: 50%;
    top: 0;
}
.Desserts {
    position: sticky;
    left: 95%;
    top: 0;
}

h3 {
    text-align: center;
}
.Burger {
    width: 33%;
}
.HotDog {
    width: 33%;
}
.Pizza {
    width: 33%;
}

@media only screen and (max-width: 768px){
    .Burger{
        width: 100%;
    }
    .HotDog{
        width: 100%;
    }
    .Pizza{
        width: 100%;
    }
}