body {
    background-color: Black;
}
.White {
    position: fixed;
    background-color: White;
    height: 100%;
    width: 33%;
}
.Red {
    position: fixed;
    background-color: Red;
    left: 33%;
    height: 50%;
    width: 100%;
}
.Green {
    position: fixed;
    background-color: Green;
    left: 33%;
    top: 50%;
    height: 50%;
    width: 100%;
}